@keyframes show-tooltip
    0% {
        opacity: 0
        bottom: 1rem
    }
    100% {
        opacity: 1
        bottom: 2.4rem
    }

@keyframes fade-in
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }

@keyframes card-slide
    0% {
        display: block
        left: 1.5rem
        opacity: 0
    }
    100% {
        left: 4rem
        opacity: 1
    }

@keyframes line-slide
    0% {
        width: 1rem;
        left: -1rem
    }
    100% {
        width: 3rem;
    } 